.containerMid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: conic-gradient(from 0deg, #05191b, #061617, #061617, #3c301d, #3c301d, #020707, #020707, #05191b);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.title {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: 768px) {
        padding-inline: 20px;
    }
}

.divider {
    display: flex;
    flex-direction: column;
    width: 40px;
    background-color: white;
}

.projectList {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Limite de tamanho lateral */
    opacity: 0; /* Inicialmente invisível */
    transform: translateX(-100%); /* Começa fora da tela à esquerda */
    transition: opacity 1s ease, transform 1s ease;

    &.visible {
        opacity: 1;
        transform: translateX(0); /* Animação para a posição final */
    }

    @media (min-width: 768px) {
        align-items: flex-start;
    }
}

.btn1 {
    display: inline-block;
    width: auto; /* Ajusta a largura automaticamente ao conteúdo */
    min-width: 240px;
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
    padding: 10px 20px; /* Ajusta o padding para melhor espaçamento */
    margin: 10px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(165deg, #288e8e, #1e6a6a 10%, #185555 20%, #103939 30%, #0a2424 40%, #020707 90%); /* Gradiente de cores */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Ajusta o tamanho da fonte */
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    transform-style: preserve-3d;
    box-sizing: border-box;
    backdrop-filter: blur(5px); /* Efeito de desfoque */
    word-wrap: break-word; /* Quebra o texto longo */

    &:hover {
        background-color: #ff6a60; /* Cor sólida ao passar o mouse */
        transform: scale(1.2);
    }
}


.btn2 {
    display: inline-block;
    width: auto; /* Ajusta a largura automaticamente ao conteúdo */
    min-width: 100px;
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
    padding: 10px 20px; /* Ajusta o padding para melhor espaçamento */
    margin: 10px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(45deg, #ff7e5f, #ff6a60, #ff6f61, #ff8490, #ff9a8b, #ff8a8d, #ff758c, #ff8a8d); /* Gradiente de cores */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Ajusta o tamanho da fonte */
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    transform-style: preserve-3d;
    box-sizing: border-box;
    backdrop-filter: blur(5px); /* Efeito de desfoque */
    word-wrap: break-word; /* Quebra o texto longo */

    &:hover {
        background-color: #ff6a60; /* Cor sólida ao passar o mouse */
        transform: scale(1.2);
    }
}

.projectDetails {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Transparência */
    width: 100%;
    max-width: 700px;
    opacity: 0; /* Inicialmente invisível */
    transform: translateX(100%); /* Começa fora da tela à direita */
    transition: opacity 1s ease, transform 1s ease;

    &.visible {
        opacity: 1;
        transform: translateX(0); /* Animação para a posição final */
    }

    @media (min-width: 768px) {
        align-items: flex-start;
    }
    p{
        padding-top: 10px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: rgba(255, 255, 255, 0.9); /* Transparência */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.selected {
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.containerMid.blur {
    filter: blur(5px); /* Aplica o efeito de desfoque */
}
