.containerMid {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 20px;
    box-sizing: border-box;
    background: rgba(30, 106, 106, 0.5);
    background-image:
            linear-gradient(to bottom, rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)), /* Gradiente para transparência */
            url('/images/imagem-codigo.jpg'); /* Imagem de fundo */
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay; /* Mistura a cor de fundo e a imagem */
    //background: conic-gradient(from 0deg,
    //#144747, #185555, #1a5c5c, #268787,
    //#ff7e5f, #ff6a60, #ff6f61, #ff8490, #ff9a8b, #ff8a8d, #ff758c, #ff8a8d,
    //#020707, #0c2b2b, #124040, #144747);
}

.boxContent {
    max-width: 800px;
    width: 100%;
    color: #f0f0f0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-10%); /* Começa fora da tela acima */
    transition: opacity 1s ease, transform 1s ease;
    margin: 20px 0;

    &.visible {
        opacity: 1;
        transform: translateY(0); /* Animação para a posição final */
    }
}

.p {
    color: #f0f0f0;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.phraseContainer {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0; /* Linha embaixo do texto */

    &:last-child {
        border-bottom: none; /* Remove a linha do último elemento */
    }
}

.slideIn {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
