.containerContatoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    background: conic-gradient(from 0deg, #05191b, #061617, #061617, #ff6a60, #ff6a60, #020707, #061616, #05191b);
    @media (min-width: 1024px) {
        padding: 20px 120px; /* Adiciona padding lateral em telas grandes */
    }
}

.title {
    margin-bottom: 20px;
    color: #fff; /* Certifique-se de que a cor do texto é visível no fundo */
    text-align: center;
    font-size: 32px;
    font-weight: bold; /* Adiciona negrito ao título */
}

.containerContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contactItem {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo do botão */
    width: 200px; /* Define a largura fixa */
    height: 50px; /* Define a altura fixa */
    padding: 10px;
    margin: 5px 0;
    background: linear-gradient(45deg, #ff7e5f, #ff6a60, #ff6f61, #ff8490, #ff9a8b, #ff8a8d, #ff758c, #ff8a8d); /* Gradiente de cores */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;

    &.slideInLeft {
      animation: slideInLeft 0.5s ease-out;
    }

    &:hover {
        transform: scale(1.1);
        color: #000;
    }
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    color: #000;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff8490 5%, #ff7e5f 10%, #103939 40%, #185555 50%, #103939 60%, #ff7e5f 90%, #ff8490 95%);
  width: 100%;
  max-width: 700px;
  height: 230px;
  opacity: 0;
  transform: rotateY(90deg); /* Inicialmente virado */
  transition: opacity 1s ease, transform 800ms ease;
  transform-style: preserve-3d; /* Mantém a percepção de profundidade durante a rotação */

  &.visible {
    opacity: 1;
    transform: rotateY(0); /* Animação para a posição final */
  }

  &.flip {
    transform: rotateX(100deg); /* Animação de flip */
  }

  h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
  }

  .icon {
    font-size: 60px;
    margin-bottom: 10px;
    color: #fff;
  }

  .linkButton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(45deg, #ff7e5f, #ff6a60, #ff6f61, #ff8490, #ff9a8b, #ff8a8d, #ff758c, #ff8a8d);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #ff6a60; /* Cor sólida ao passar o mouse */
      transform: scale(1.05);
    }
  }
}

.selected {
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
